*{margin: 0;
    padding: 0;
    vertical-align: baseline;
    }

.Encabezado{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(241, 119, 191);
    align-items: center;
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.barra-de-navegacion{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.barra-de-navegacion a{
    font-size: 15px;
    font-family: cursive;
    color: beige;
}

 .barra-de-navegacion a:hover{
    font-size: 20px;
    color: crimson;
}

.iniciar-sesion{
    display: flex;
    height: 100px;
    align-items: end;
    justify-content: end;
    font-size: 15px;
    font-family: fantasy;
    padding: 0 20px 0 10px;
}

.iniciar-sesion a{
    color: black;
}

.iniciar-sesion a:hover{
    font-size: 20px;
    color: crimson;
}

.Seccion-principal{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(255, 225, 198);
    align-items: center;
}

.presentacion{
    display: flex;
    height: 400px;
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
}

.presentacion h1{
    font-size: 35px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-align: first baseline;
}

.presentacion h2{
    font-size: 20px;
    margin-top: 50px;
    font-family:serif;
    text-align: end;
    text-justify: end;
    color:deeppink;
}

.presentacion p{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}

.correo{
    display: flex;
    gap: 30px;
}

#email{
    width: 500px;
    height: 30px;
}

#boton{
    height: 30px;
    width: 50px;
}
#boton:hover{
    height: 40px;
    width: 80px;
}

.presentacion a{
    font-size: 15px;
    color: blueviolet;
}

.presentacion a:hover{
   font-size: 20px;
    color: rgb(139, 0, 0);
}

.imagen-de-presentacion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
}

.imagen-de-presentacion img{
    width: 200px;
    height: 200px;
    padding-left: 20%;
}
    
