*{margin: 0;
    padding: 0;
    vertical-align: baseline;
    }

.Encabezado{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(241, 119, 191);
    align-items: center;
}

.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.barra-de-navegacion{
    display: flex;
    height: 100px;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
.barra-de-navegacion a{
    font-size: 15px;
    font-family: cursive;
    color: beige;
}

 .barra-de-navegacion a:hover{
    font-size: 20px;
    color: crimson;
}

.iniciar-sesion{
    display: flex;
    height: 100px;
    align-items: end;
    justify-content: end;
    font-size: 15px;
    font-family: fantasy;
    padding: 0 20px 0 10px;
}

.iniciar-sesion a{
    color: black;
}

.iniciar-sesion a:hover{
    font-size: 20px;
    color: crimson;
}

.Seccion-principal{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(255, 225, 198);
    align-items: center;
}

.presentacion{
    display: flex;
    height: 400px;
    flex-flow: row wrap;
    gap: 10px;
    padding: 10px;
}

.presentacion h1{
    font-size: 35px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-align: first baseline;
}

.presentacion h2{
    font-size: 20px;
    margin-top: 50px;
    font-family:serif;
    text-align: end;
    text-justify: end;
    color:deeppink;
}

.presentacion p{
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}

.correo{
    display: flex;
    gap: 30px;
}

#email{
    width: 500px;
    height: 30px;
}

#boton{
    height: 30px;
    width: 50px;
}
#boton:hover{
    height: 40px;
    width: 80px;
}

.presentacion a{
    font-size: 15px;
    color: blueviolet;
}

.presentacion a:hover{
   font-size: 20px;
    color: rgb(139, 0, 0);
}

.imagen-de-presentacion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
}

.imagen-de-presentacion img{
    width: 200px;
    height: 200px;
    padding-left: 20%;
}
    
.productos{
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    background-color: rgb(247, 225, 207);
    align-items: center;
}

.titulo h2{
 align-items: center;
 justify-content: end;
 font-size: 25px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 padding-left: 500px;
}

.cuerpo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 2px rgb(236, 10, 187) solid;
}

.flores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding: 10px 10px 10px 10px;
}

.flores a{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 3px;
    margin-bottom: 3px;   
}

.flores img{
    height: 400px;
    width: 250px;
    margin-left: 60px ;
    margin-bottom: 4px;
}

.aromaterapia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding: 10px 10px 10px 10px;
}

.aromaterapia a{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 3px;
    margin-bottom: 3px;   
}

.aromaterapia img{
    height: 400px;
    width: 300px;
    margin-bottom: 4px;
    margin-left: 50px;
}

.cosmetica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding: 10px 10px 10px 10px;
}

.cosmetica a{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 3px;
    margin-bottom: 3px;   
}

.cosmetica img{
    height: 400px;
    width: 400px;
    margin-bottom: 4px;
    margin-left: 20px;
}

.yoga {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border: 2px rgb(247, 100, 168) solid;
    margin-top: -300px;
}

.imagen img{
    height: 250px;
    width: 250px;
    padding: 10px 0 0 10px;
    border-radius: 70%;
}

.introduccion img {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 80%;
}

.contactanos img{
    display: flex;
    justify-items: center;
}
.contactanos a{
    margin-top: 10px;
    margin-left: 70%;
    color: blueviolet;
}

.contactanos a:hover{
    font-size: 20px;
    color: crimson;
}

.contactanos h4{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 70%;
}

.pie-de-pagina{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    background-image: url('Captura\ de\ pantalla\ \(421\).png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -300px;
}

.redes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.canales-oficiales h4{
    font-size: 20px;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 10px;
}

.canales-oficiales a{
    display: flex;
    flex-direction:column;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

.canales-oficiales a:hover{
    width: 60px;
    height: 60px;
}

.soporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}

.soporte h4{
    font-size: 20px;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 10px;
}

.soporte a{
    display: flex;
    flex-direction:column;
    margin-top: 5px;
    margin-left: 10px;
    color: blueviolet;
}

.soporte a:hover{
    font-size: 20px;
    color: crimson;
}

.Nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}

.Nosotros h4{
    font-size: 20px;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 10px;
}

.Nosotros a{
    display: flex;
    flex-direction:column;
    margin-top: 5px;
    margin-left: 10px;
    color: blueviolet;
}

.Nosotros a:hover{
    font-size: 20px;
    color: crimson;
}

.legal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}

.legal h4{
    font-size: 20px;
    font-family: cursive;
    margin-top: 5px;
    margin-left: 10px;
}

.legal a{
    display: flex;
    flex-direction:column;
    margin-top: 5px;
    margin-left: 10px;
    color: blueviolet;
}

.legal a:hover{
    font-size: 20px;
    color: crimson;
}

.derechos{
    display: flex;
    height: 40px;
    align-items: end;
    justify-content: end;
    padding-right: 10px;
}